<div class="container" id="personal-show">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="well row">
        <div class="col-md-12 divider text-center">
          <div class="col-md-4 emphasis">
            <h4>User</h4>
            <h4><strong> <%= @user_count %> </strong></h4>
          </div>
          <div class="col-md-4 emphasis">
            <h4>Post</h4>
            <h4><strong> <%= @post_count %> </strong></h4>
          </div>
          <div class="col-md-4 emphasis">
            <h4>Comment</h4>
            <h4><strong> <%= @replies_count %> </strong></h4>
          </div>
        </div>
      </div> 
      <div class="col-md-4 text-center" >
        <h4>Chatterbox</h4>
        <hr>
        <ol>
          <% @popular_users.each do |user| %>
          <li><%= link_to user.name, user_path(user) %> | <%= user.replies_count %></li>
          <% end %>
        </ol>
      </div>   
      <div class="col-md-8 text-center" >
        <h4>Most Popular Post</h4>
        <hr>
        <ol>
          <% @popular_posts.each do |post| %>
          <li><%= link_to post.title, post_path(post) %> | <%= post.published_at.strftime("%F %T")%> | 待移除<%= post.replies_count %></li>
          <% end %>
        </ol>
      </div>            
    </div>
  </div>
</div>